{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
      "indent": [2, 2, {"SwitchCase": 1}],
      "react/jsx-filename-extension": 0,
      "react/forbid-prop-types": 0,
      "react/sort-comp": 0,
      "import/no-extraneous-dependencies": 0,
      "no-debugger": 0,
      "no-console": 0,
      "global-require": 0,
      "no-underscore-dangle": 0,
      "no-use-before-define": 0,
      "class-methods-use-this": 0,
      "jsx-a11y/no-static-element-interactions": 0,
      "no-fallthrough": 0,
      "arrow-body-style": 0
    },
    "globals": {
      "window": true,
      "document": true,
      "__DEV__": true
    },
    "env": {
      "browser": true,
      "jest/globals": true
    },
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": {
            "resolve": {
              "extensions": [".js", ".jsx", ".json"],
              "modules": ["node_modules", "src"]
            }
          }
        }
      }
    },
    "plugins": [
      "jest"
    ]
  }
  